/**
 *  CGateInterface - A library to allow interaction with Clipsal C-Gate.
 *  Copyright (C) 2008,2009,2012  Dave Oxley <dave@daveoxley.co.uk>.
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 *  published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

package com.daveoxley.cbus;

/**
 *
 * @author dave
 */
public final class Version {

    public final static String getVersion() {
        return "1.0.1";
    }

    public final static String getCommit() {
        return "@@COMMIT@@";
    }

    public final static String getBranch() {
        return "@@BRANCH@@";
    }

    public final static boolean isDirty() {
        return @@DIRTY@@;
    }

    public final static String getVersionDesc() {
        if (!getBranch().trim().equals(""))
            return getVersion() + "-dev";
        return getVersion();
    }

    public final static String getVersionMvn() {
        if (!getBranch().trim().equals(""))
            return getVersion() + "-SNAPSHOT";
        return getVersion();
    }

    public final static String getBranchDesc() {
        if (getBranch().trim().equals(""))
            return "Tag " + getBranch();
        return "Branch " + getBranch();
    }

    public final static String getVersionMini() {
        String ver = getVersion();
        if (!getBranch().trim().equals(""))
            ver += ".d";
        ver += "-" + getCommit();
        if (isDirty())
            ver += "M";
        return ver;
    }
}
